<p>edit-nurse works!</p>
<!-- <div *ngIf='selectedNurse$ | async as n'> -->

<app-text-field [config]="formConfig.first_name" [formGroup]="form"></app-text-field>
<app-text-field [config]="formConfig.last_name" [formGroup]="form"></app-text-field>
<app-date-picker [config]="formConfig.dob" [formGroup]="form"></app-date-picker>
<app-text-field [config]="formConfig.address_line1" [formGroup]="form"></app-text-field>
<app-text-field [config]="formConfig.address_line2" [formGroup]="form"></app-text-field>
<app-text-field [config]="formConfig.city" [formGroup]="form"></app-text-field>
<app-text-field [config]="formConfig.post_code" [formGroup]="form"></app-text-field>
<app-date-picker [config]="formConfig.start_date" [formGroup]="form"></app-date-picker>
<app-date-picker [config]="formConfig.training_review_date" [formGroup]="form"></app-date-picker>
<app-text-field [config]="formConfig.band" [formGroup]="form"></app-text-field>
<app-select [config]="formConfig.distance_willing_to_work" [formGroup]="form"></app-select>

<button mat-button color="primary" (click)="onSubmit()">Primary</button>